@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

@theme {

    --color-primary: #4fbf8b;
    --color-primary-dull: #44ae7c;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}